
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        background-image: url('S__9527329.jpg');
    }

    h1{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
    }

    a {
        padding: 0.1em 0.25em;
        width: 30%;
        height: 40px;
        margin: 30px;
        background-color: solid #fff;
        border: 0.08em #212121;
        border-radius: 0.3em;
        font-size: 12px;
        cursor: pointer;
    }
      
    a span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0.4em;
        width: 8.25em;
        height: 2.5em;
        background-color: #212121;
        border-radius: 0.2em;
        font-size: 1.5em;
        color: #fff;
        border: 0.08em solid #fff;
        box-shadow: 0 0.4em 0.1em 0.019em #fff;
    }
      
    a span:hover {
        transition: all 0.5s;
        transform: translate(0, 0.4em);
        box-shadow: 0 0 0 0 #fff;
    }
      
    a span:not(hover) {
        transition: all 1s;
    }
      
}


  
